version: 2
updates:
  # Enable version updates for main
  - package-ecosystem: "maven"
    # Look for the root pom
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "build: "
    labels:
      - "dependencies"
    open-pull-requests-limit: 10
  # Enable version updates for the github actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "deps: "
    labels:
      - "dependencies"
    open-pull-requests-limit: 5
